* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
}

header,
.red-ann-container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 50px 25px;
}

.red-ann-container {
  display: flex;
  gap: 50px;
}

.red-ann-container__config {
  padding: 40px 0;
  text-align: left;
  width: 35%;

  .field {
    padding: 20px 0;
  }

  input {
    border: 1px solid #ccc;
    min-width: 100px;
    padding: 16px 20px;
    font-size: 16px;
    display: block;
    margin-top: 20px;
  }
}

.red-ann-container__results {
  width: 65%;
}

.red-ann-container__metrics {
  div {
    padding: 12px 0;
  }
}

.red-ann-container__train-btn {
  background-color: darkorange;
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 16px;
  margin-top: 40px;

  &:hover {
    background-color: #3f3f3f;
    color: #fff;
  }

  &:disabled {
    color: #ccc;
    cursor: not-allowed;
  }

  &:disabled:hover {
    color: #ccc;
    background-color: darkorange;
  }
}

.red-ann-container__result {
  margin: 58px 0 20px 0;
  color: green;
}
